<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.prob_name %}
      {{ page.prob_name }} - {{ page.round_name }} &middot; {{ site.title }}
    {% elsif page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">

  {% seo title=false %}

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-3784329934070798",
      enable_page_level_ads: true
    });
  </script>
</head>
