<div class="sidebar">
  <div class="container">
    <h2>
      <a href="{{ site.baseurl }}/">Home</a>
    </h2>

    <hr />

    <nav class="sidebar-nav">
      {% assign pages_list = site.pages | where: 'group', page.group %}
      {% for node in pages_list %}
        {% if node.group_head %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endfor %}

      {% assign pages_list = site.pages | where: 'group', page.group | sort: 'title' %}
      {% for node in pages_list %}
        {% if node.group_head == nil %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>

  </div>
</div>
