// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 40rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
  position: relative;
}

.ad-abovecomment-container {
}

.ad-abovecomment {
}

footer {
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
}

.license {
  text-align: right;
  font-size: 0.7rem;
}
.license img {
  display: inline;
  margin: 0;
}

.ad-rightside-container {
  display: none;

  @media (min-width: 61em) {
    display: block;
    position: absolute;
    left: 654px;
    top: 182px;
  }
}

.ad-rightside {
  display: none;

  @media (min-width: 61em) {
    display: inline-block;
    width: 160px;
    height: 600px;
  }
}

.ad-footer-container {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ad-footer {
  width: 320px;
  height: 100px;

  @media (min-width: $large-breakpoint) {
    width: 468px;
    height: 60px;
  }
  @media (min-width: 46em) {
    width: 728px;
    height: 90px;
  }
}
